{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'header.css'%}">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <header class="shadow-md">
        <nav>
            <ul class="flex flex-row items-center space-x-10 my-6">
                <li><a href="">Home</a></li>
                <li><a href="">Panels</a></li>
                <li><a href="">Dashboard</a></li>
                <!-- username display code -->
                <div>

                </div>
            </ul>
        </nav>
    </header>
</body>

</html>